#sh h1{
    color: darkblue;
}


#Myntra h2{
    color: blueviolet;
}
#Myntra a{
    font-size: large;
}


#Amazon h2{
    color: blueviolet;
}
#Amazon a{
    font-size: large;
}


#Flipkart h2{
    color: blueviolet;
}
#Flipkart a{
    font-size: large;
}


#Ajio h2{
    color: blueviolet;
}
#Ajio a{
    font-size: large;
}